messageName=$var message.name$
$ifdef message.Prop1$
Prop1=$var message.Prop1$
$-ifdef$
$ifdef message.Prop2$
Prop2=$var message.Prop2$
$-ifdef$
$if message.haveparent$
parentMessage=$var message.parent$
$-if$

fields:
$foreach field$
{
  tag=$var field.tag$
  name=$var field.name$
  type=$pack$$select field.type$
$case nested$$var field.typename$
$case enum$$var field.typename$
$case array$array<T=$var field.array.T$, N=$var field.array.N$>
$default$$var field.type$$if !field.type.pod$(non pod)$-if$
$-select$$-pack$

$if field.optional$
  optional
$-if$
}$if !field.last$,$-if$

$-foreach$
